.cursive{
  font-family: 'Andada Pro', serif;
}


.blue{
  color: #00a8e8;
}

.purple{
  color: #682ae9;
}
.bg-purple{
  background-color: #682ae9;
}

.bg-Blue{
  background-color: #00a8e8;
}

.bg-purpleGrad{
  background-image: linear-gradient(black, #682ae9);
}


body{
  /* font-family: 'Sora', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;

}
.ephesis{
  font-family: 'Ephesis', cursive;
}

.bgPaper{
  background-color: #FFE8A9;
}

.btn{
  border-radius: 60% 90% 60% 90%;
}

#title{
  transform:rotateX(360deg) translateZ(30px)
}

.test{
  animation: rotate 4s ease-in infinite;
}


/* .container{
  display: flex;
  width: 100%;
  position: relative;
}

section{
  min-width: 100%;
  height: auto;
  display: flex;
} */


  /* #section2{
    width: 600% !important;
  } */
